/* UTIL */

:root {
  --background: #052b53;
  --lightgrey: #c5c6c7;
  --orange: #a67a61;
  --grey: #6E6E74;
}

/* SITE */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/xly5fcc.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: var(--background);
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  transition: 0.5s;
  left: 0;
}
.wrapper.active {
  left: -250px;
}

/* --- HEADER --- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  transition: 0.5s;
}

header div {
  display: flex;
}

header.sticky {
  padding: 20px 100px;
  background: var(--grey);
}

header .toggle {
  position: relative;
  width: 36px;
  height: 28px;
  background: url(images/toggle.png);
  background-size: cover;
  cursor: pointer;
}
header .toggle.active {
  background: url(images/close.png);
  background-size: cover;
}

@media (min-width: 768px) {
  header .toggle {
    display: none;
  }
}
.logo {
  display: flex;
  font-size: 33px;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}

nav ul {
  margin-left: 120px;
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
}

nav ul a {
  padding: 20px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul a:hover {
  color: #3f8ffc;
}

/* --- SIDEBAR --- */

.sidebar {
  position: fixed;
  right: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}
.sidebar.active {
  right: 0;
}
.sidebar ul {
  position: relative;
  display: flex;
  flex-direction: column;
}
.sidebar ul li {
  list-style: none;
  margin: 5px 0;
}
.sidebar ul li a {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
}
.sidebar ul li a:hover {
  color: #3f8ffc;
}

/* --- HERO --- */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.411)),
    url("images/space3.jpg");
  height: 700px;
  width: 100%;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.split {
  display: flex;
  height: 100%;
}

.split div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero-txt {
  color: var(--orange);
  width: 100%;
}

.hero-txt h1 {
  font-weight: 300;
  color: var(--orange);
  line-height: 1em;
  text-align: center;
  position: relative;
  font-size: 4vw;
  bottom: 10%;
  left: 35%;
  width: 100%;
}

.hero-txt p {
  font-weight: 300;
  line-height: 1em;
  color: var(--orange);
  text-align: center;
  position: relative;
  font-size: 4vw;
  top: 20%;
  right: 30%;
}

.hero-img {
  background-image: url("images/portraet2_optimeret.png");
  position: relative;
  height: 100%;
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;

}

.line {
  width: 90%;
  height: 5px;
  background: var(--orange);
  margin: 5%;
  border-radius: 5px;
}

.contactBtn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 34px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  bottom: 15%;
  left: 15%;
}

.contactBtn:hover {
  border: 2px solid #c0c0c0;
  background: #c0c0c083;
  transition: 1s;
}

.contactBtn a {
  text-decoration: none;
  color: var(--lightgrey);
}


@media (max-width: 991px) {
  
.hero {
    width: 100%;;
  }

  .hero-txt h1 {
    font-size: 5vw;
    position: relative;
    left: 60%;
  }

  .hero-txt p {
    font-size: 5vw;
    position: relative;
    right: 20%;
  }

  .contactBtn {
  font-size: 2.5vw;
}

}

@media only screen and (max-width: 375px) {
  .hero {
  height: 400px;
  }

  .titel {
    text-align: center;
  }

  .hero-txt h1 {
  font-size: 25px;
  left: 90%;
  bottom: 5%;
  }

  .hero-txt p {
  font-size: 25px;
  right: 10%;
  }
  
  .contactBtn {
    font-size: 15px;
  }

}

/* --- About --- */

.titel {
  text-align: center;
}

.titel-txt {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  color: var(--orange);
  font-weight: bold;
  font-size: 30px;
  position: relative;
  border: 3px solid var(--orange);
  display: inline-block;
  text-decoration: none;
  background: transparent;
  padding: 12px 34px;
  margin-bottom: 2%;
}

.split2 {
  display: flex;
  height: 700px;
  font-family: 'Futura PT', sans-serif;
  font-weight: medium;
  margin: 20px;
}

.en {
  display: flex;
  height: 96%;
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: 3px solid var(--orange);
  font-size: 24px;
  box-shadow: -14px 12px 0px rgba(0, 0, 0, 0.16);
  font-family: 'futura-pt', sans-serif;
  overflow: scroll;
}

.en p {
  margin-top: 10%;
}

.seks {
  display: flex;
  max-height: 700px;
  width: 50%;
}

.seks div {
  width: 100%;
  margin: 5px;
}


.box1, .box2, .box3, .box4, .box5, .box6 {
  background-color: white;
  height: 32%;
  border: 3px solid var(--orange);
  box-shadow: -14px 12px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-size: 18px;
}

.box-txt {
  padding: 2%;
}

.skills-title {
  text-align: center;
  margin-top: 5%;
}

.skills-img {
  height: 50px;
  width: 54px;
  margin: auto;
  max-width: 100%;
}


/* --- Media tags --- */
@media only screen and (max-width: 1030px) {

.en p {
font-size: 18px;
}

.split2 {
  flex-direction: column;
  height: 1200px;
}

.en {
  width: 98%;
}

.seks {
  width: 99%;
  height: 100%;
  }

}

@media only screen and (max-width: 540px) {

.seks {
  flex-direction: column;
  width: 98%;
}

.split2 {
  margin-bottom: 850px;
}

}

@media only screen and (max-width: 375px) {

.en {
  width: 96%;
}

.seks {
  width: 96%;
}

.en p {
  font-size: 16px;
}

.box1, .box2, .box3, .box4, .box5, .box6 { 
 font-size: 16px; 
}

}

/* --- Projekter --- */


.projects {
  margin-left: 5%;
  margin-right: 5%;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.portfolio-item {
  background: var(--orange);
  overflow: hidden;
  height: 400px;
  border: 2px solid var(--orange);
}

.portfolio-img {
  transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
  opacity 250ms linear;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-img:hover {
  transform: scale(1.2);
  opacity: .75;
}

@media only screen and (max-width: 540px) {
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  }
}


/* Mobil version */
@media only screen and (max-width: 375px) {

.portfolio-item {
  width: 337px;
}

.titel {
  margin-top: 10%;
  margin-bottom: 8%;
}

}


/* Individual portfolio item styles */

.portfolio-container {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  background-color: white;
  border: 5px solid var(--orange);
  box-shadow: -14px 12px 0px rgba(0, 0, 0, 0.16);
}

.portfolio-item-individual {
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p, h1 {
  max-width: 1000px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

.gap {
  margin-top: 5%;
}

.portfolio-item-individual img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.img-column {
  float: left;
  width: 25%;
}

.portfolio-container p {
  display: inline-block;
}

@media (max-width: 375px) {
  .portfolio-container p {
    font-size: 16px;
  }
}

.hund {
  width:450px;
  height:383px;
  background-image: url("images/spritesheet3.png");
  margin: 2% auto;
  animation: play 1s steps(9) infinite;
  
}

@keyframes play {
  0% {
  background-position: 0 0;
}
  100% { background-position: 0 -3456px;
  }
}



  /* --- Kontakt --- */

.footer {
  height: 700px;
}

form { 
  max-width:600px; 
  margin:50px auto; 
  background: white;
  border: 3px solid var(--orange);
  padding: 5%;
  box-shadow: -14px 12px 0px rgba(0, 0, 0, 0.16);
}

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid var(--orange);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
  border:2px solid #CC4949; 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background:var(--orange);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

[type="submit"]:hover { 
  background:#CC4949; 
}

/* Mobil version */
@media only screen and (max-width: 375px) {

form {
  max-width: 300px;
}
  
}