/* UTIL */

:root {
  --background: #052b53;
  --lightgrey: #c5c6c7;
  --orange: #a67a61;
  --grey: #6E6E74;
}

img {
  width: 100%;
}

/* SITE */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/xly5fcc.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: var(--background);
  height: 1000px;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  transition: 0.5s;
  left: 0;
}
.wrapper.active {
  left: -250px;
}

/* --- HEADER --- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  transition: 0.5s;
}

header div {
  display: flex;
}

header.sticky {
  padding: 20px 100px;
  background: var(--grey);
}

header .toggle {
  position: relative;
  width: 36px;
  height: 28px;
  background: url(images/toggle.png);
  background-size: cover;
  cursor: pointer;
}
header .toggle.active {
  background: url(images/close.png);
  background-size: cover;
}

@media (min-width: 991px) {
  header .toggle {
    display: none;
  }
}
.logo {
  display: flex;
  font-size: 33px;
  text-decoration: none;
  color: var(--lightgrey);
}

@media (max-width: 991px) {
  nav {
    display: none;
  }
}

nav ul {
  margin-left: 120px;
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
}

nav ul a {
  padding: 20px 20px;
  text-decoration: none;
  color: #fdab7b;
  font-weight: bold;
}

nav ul a:hover {
  color: rgb(255, 255, 255);
}


/* --- SIDEBAR --- */

.sidebar {
  position: fixed;
  right: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}
.sidebar.active {
  right: 0;
}
.sidebar ul {
  position: relative;
  display: flex;
  flex-direction: column;
}
.sidebar ul li {
  list-style: none;
  margin: 5px 0;
}
.sidebar ul li a {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
}
.sidebar ul li a:hover {
  color: #3f8ffc;
}

/* --- HERO --- */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.411)),
    url("images/space3.jpg");
  height: 700px;
  width: 100%;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.split {
  display: flex;
  height: 100%;
}

.split div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero-txt {
  color: var(--orange);
  width: 100%;
}

.hero-txt h1 {
  font-weight: 300;
  color: var(--orange);
  line-height: 1em;
  text-align: center;
  position: relative;
  font-size: 4vw;
  bottom: 10%;
  left: 35%;
  width: 100%;
}

.hero-txt p {
  font-weight: 300;
  line-height: 1em;
  color: var(--orange);
  text-align: center;
  position: relative;
  font-size: 4vw;
  top: 20%;
  right: 30%;
}

.hero-img {
  background-image: url("images/portraet2.png");
  position: relative;
  height: 100%;
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;

}

.line {
  width: 90%;
  height: 5px;
  background: var(--orange);
  margin: 50px;
  border-radius: 5px;
}

.contactBtn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 34px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  bottom: 15%;
  left: 15%;
}

.contactBtn:hover {
  border: 2px solid #c0c0c0;
  background: #c0c0c083;
  transition: 1s;
}

.contactBtn a {
  text-decoration: none;
  color: var(--lightgrey);
}

@media (max-width: 991px) {
  
.hero {
    height: 40%;
    width: 100%;;
  }

  .hero-txt h1 {
    font-size: 5vw;
    position: relative;
    left: 60%;
  }

  .hero-txt p {
    font-size: 5vw;
    position: relative;
    right: 20%;
  }

  .contactBtn {
  font-size: 2.5vw;
}

}

/* --- About --- */

.ommig {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  color: var(--orange);
  font-weight: bold;
  font-size: 30px;
  position: relative;
  border: 3px solid var(--orange);
  display: inline-block;
  text-decoration: none;
  background: transparent;
  padding: 12px 34px;
  margin-left: 45%;
  margin-bottom: 2%;
  
}

.split2 {
  display: flex;
  height: 700px;
  font-family: 'Futura PT', sans-serif;
  font-weight: medium;
  margin: 20px;
}

.en {
  display: flex;
  height: 100%;
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: 3px solid var(--orange);
  font-size: 1.5vw;
  box-shadow: -14px 12px 0px rgba(0, 0, 0, 0.16);
  font-family: 'futura-pt', sans-serif;
}

.seks {
  display: flex;
  max-height: 700px;
  width: 50%;
  margin-right: 10px;
}

.seks div {
  width: 100%;
  margin: 5px;
}


.box1, .box2, .box3, .box4, .box5, .box6 {
  background-color: white;
  height: 32%;
  border: 3px solid var(--orange);
  box-shadow: -14px 12px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  display: flex;
  flex-direction: column;
}

.box-txt {
  padding: 2%;
}

.skills-title {
  text-align: center;
  margin-top: 5%;
}

.skills-img {
  height: 50px;
  width: 54px;
  margin: auto;
  max-width: 100%;
}

@media (max-width: 991px) {
  .split2 {
    flex-direction: column;
  }

  .en {
    width: 96%;
    margin-right: 10px;
    font-size: 12px;
  }

  .seks {
    width: 96%;
    height: 100%;
    font-size: 12px;
  }

  .ommig {
    margin-left: 30%;
  }

  .line {
    width: 80%;
  }

}